@using WebApplication4.Data.Models
@model WebApplication4.Data.Models.MainThing




@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Xd </title>
</head>

<body>



    @*@Model.scan.scanTime
    <br>
    @Model.scan.db
    <br>
    @Model.scan.server
    <br>
    @Model.scan.errorCount
    <br>*@








</body>

</html>