@using WebApplication4.Data.Models
@model WebApplication4.Data.Models.scanInfo


@{
    ViewData["Title"] = "All";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Xd </title>
</head>

<body>


    <p> @Model.scanTime</p>
    <p>all</p>





</body>

</html>>